@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    local("Roboto Slab 400"), local("RobotoSlab-400"), local("Roboto Slab"),
    url(../fonts/roboto-slab-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold Bold"), local("RobotoSlab Bold-Bold"),
    local("Roboto Slab Bold 700"), local("RobotoSlab Bold-700"),
    url(../fonts/roboto-slab-bold-webfont.woff) format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSans Pro-Regular"),
    local("Source Sans Pro 400"), local("SourceSans Pro-400"),
    local("Source Sans Pro"),
    url(../fonts/source-sans-pro-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "Source Sans Pro Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold Bold"), local("SourceSans Pro Bold-Bold"),
    local("Source Sans Pro Bold 700"), local("SourceSans Pro Bold-700"),
    url(../fonts/source-sans-pro-bold-webfont.woff) format("woff");
}
.p-ff-source {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.p-ff-source-bold {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-weight: 700;
}
.p-ff-roboto-slab {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.p-ff-roboto-slab-bold {
  font-family: "Roboto Slab Bold", serif;
  font-weight: 700;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
[data-animation-type="show"].is-ready {
  opacity: 0;
}
.p-io-animation__show {
  animation: show 0.5s;
  animation-fill-mode: both;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
[data-animation-type="fade"].is-ready {
  opacity: 0;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}
.p-lh-md {
  line-height: 1.5em;
}
.h\:p-bg-yellow-tint:hover {
  background-color: #f1ab00 !important;
}
@media (prefers-color-scheme: dark) {
  body.theme-system .d\:p-bg-purple-alt {
    background-color: #6649b8 !important;
  }
}
@media (prefers-color-scheme: dark) {
  body.theme-system .p-logo {
    filter: grayscale(1) brightness(0) invert(1);
    opacity: 0.8;
  }
}
@media (prefers-color-scheme: dark) {
  body.theme-system .site-footer {
    background: var(--black-100);
  }
}
